<div class="contacts-container">
  
    <section class="contacts">
        <div class="block">
            <div style="padding-right: 100px;">
                <h1 class="title" style="color: #000;">Контакты</h1>
                <div class="contact-info">
                    <p>Позвонить: {{ contacts.phone }}</p>
                    <p style="align-items: center; display: flex;">
                        <a style="padding-right: 5px;" href="#">{{ contacts.whatsapp }}</a>
                        <img [src]='contacts.whatsappimg' [alt]="contacts.whatsapp">
                </p>
                    <p style="align-items: center; display: flex;">
                        <a style="padding-right: 5px;" href="#">{{ contacts.telegram }}</a> 
                        <img [src]='contacts.telegramimg' [alt]="contacts.telegram"></p>
                </div>
                <div class="social-media">
                    <h2>Следите за мной в соц. сетях:</h2>
                    <div class="social-icons">
                        <div  *ngFor="let social of contacts.socialMedia">
                            <button class="link" src="social.link">
                                <img [src]="social.icon" [alt]="social.name">
                                <p>{{ social.name }}</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn">Предложить проект</button>
                  </div>
            </div>      
            <div class="contact-image">
                <img [src]="contacts.image" alt="Olga">
            </div>
        </div>
     
    </section>
  
  </div>
  