.about-container{
  margin: 0;
  padding: 0;

  .about-menu h1{
    margin-top: 125px;
    display: flex;
    justify-content: flex-end;
    margin-right: 130px;
    font-weight: 900;
      font-size: 64px;
      letter-spacing: 0.02em;
      color: #1b1b1b;
  }
.about-menu::after {

    content: '';
    display: block;
    width: 730px;
    height: 26px;
    background-color: #ffcc00;
    position: relative;
    bottom: 266px;
    left: 75%;
    transform: translateX(-50%);
  }
}