<div class="about-container">
  
    <section class="about">
        <div style="display: flex; ">
            <div>
                <img [src]="about.image" alt="{{ about.name }}">
            </div>
            <div class="about-menu">
                <h1>{{ about.name }}</h1>
                <p class="text-1">{{ about.item }}</p>
                <h2>{{ about.title }}</h2>
                <p class="text-2">{{ about.description }}</p>
                <p class="text-3">{{about.text}}</p>
            </div>
        </div>

        
        <h3>Моя миссия</h3>
        <ul>
          <li *ngFor="let missionItem of about.mission">{{ missionItem }}</li>
        </ul>
        <h3>История</h3>
        <p>{{ about.history }}</p>
        <div class="buttons">
          <button class="btn">Связаться со мной</button>
          <button class="btn">Предложить проект</button>
        </div>
      </section>
    
    </div>