<footer class="footer" style="display: flex;
        justify-content: space-evenly;
      ">
  <div class="footer-logo">
    <img src="/assets/image 4.png" alt="Logo">
    <p>Copyright © 2021 - 2024 Бюро</p>
  </div>
  <div class="footer-center" style="display: flex; flex-direction: column;">
    <p class="text">Хотите получить консультацию?</p>
    <p class="text-1">Форма обратной связи</p>
    <input style="width: 360px;
                margin-top: 27px;
                padding:10px 5px;
                border: none;
                border-bottom: 1px solid #767676;
                background-color: transparent;
                color: inherit;
                outline: none;" placeholder="Телефон:" type="number">
                

    <button routerLink="/contacts" class="btn" style="
                background-color: #D89508; 
                margin-top: 27px;
                color: #fff;
                border-radius: 50px;
                width: 180px;
                height: 61px;
                top: 211px;
                left: 530px;
                
                ">Бесплатно</button>
  </div>
  <div>
    <p class="number">+7 (999) 999-99-99</p>
    <div class="footer-icon">
      <a href="">
      <img src="assets/Group 5.png" alt="telegram">
      </a>
      <a href="">
      <img src="assets/Group.png" alt="vk">
      </a>
    </div>
  </div>




</footer>