<footer class="footer" style="display: flex;
        justify-content: space-evenly;
      ">
  <div>
    <img src="/assets/image 4.png" alt="Logo">
    <p>&copy; 2024 Бюро. Все права защищены.</p>
  </div>
  <div style="display: flex; flex-direction: column;">
    <p>Хотите получить консультацию?</p>
    <p>Форма обратной связи</p>
    <input style="width: 360px;
                padding:10px 5px;
                border: none;
                border-bottom: 1px solid #767676;
                background-color: transparent;
                color: inherit;
                outline: none;" type="text" placeholder="Телефон:">

    <button routerLink="/contacts" class="btn" style="
                background-color: #D89508; 
                color: #fff;
                border-radius: 50px;
                width: 180px;
                height: 61px;
                top: 211px;
                left: 530px;
                
                ">Бесплатно</button>
  </div>
  <div>
    <p>+7 (999) 999-99-99</p>
    <div>
      <img src="assets/Group 5.png" alt="telegram">
      <img src="assets/Group.png" alt="vk">
    </div>
  </div>




</footer>