<h1>Квартира, 40 кв.м.
  Кейс Лялин переулок</h1>
  <img src="/assets/home4.jpg" alt="">

  <div>
    <div>
      <p>Котегории</p>
      <img src="" alt="">
      <p>Долгосрочная аренда</p>
    </div>
    <div>
      <p>Бюджет</p>
      <img src="" alt="">
      <p>50 тыс. руб</p>
    </div>
    <div>
      <p>Площадь</p>
      <img src="" alt="">
      <p>40 кв.м.</p>
    </div>
    <div>
      <p>Срок разработки</p>
      <img src="" alt="">
      <p>3 дня</p>
    </div>
  </div>
<p>
  Это кейс был сделан в качестве эксперимента и челленджа для известной блогера, инвестора,
  ведущей своего ютуб канала и курса об инвестициях в недвижимость.  
</p>
<h2>
  Гостиная
</h2>
<p>Заменили карниз для штор – шторы теперь от стены до стены
  сделали акцентную стену с зоной ТВ. Тумбой под ТВ служит антресоль от имеющегося шкафа
  поставленная на ножки и закрепленная на стене.
  Добавили локальное освещение над кроватью и заменили текстиль!</p>
  <div *ngFor="let project of projects">

  </div>